span {
      margin: 60px 20px 60px 25px; /* adiciona uma margem a cima, direita, baixo e esquerda respectivamente*/
      margin: 0px auto; /* auto: margem se ajusta ao tamanho da tela e zero remove a margem padrao do elemento*/
      height: 400px;
      width: 250px;
      color: blue; /*cor da fonte*/
      background-color:aliceblue;
      padding: 60px 20px 60px 25px; /* adiciona uma box a cima, direita, baixo e esquerda respectivamente*/
      box-sizing: border-box; /*controla as propriedades de tamanho dentro de um padding ou border*/
      box-shadow: 10px 5px 5px black; /*aplica uma sombra degrade na borda da box ou border*/
      border: 2px solid  #14020f; /* grossura, estilo , cor */
      border-radius: 15px; /*bordas arredondadas. Tmb pode receber top, right, bottom and left values*/
      border-bottom: 2px outset green /*é possível aplicar uma borda apenas em uma area do texto*/
      line-height: 35px; /* distancia(altura) entre as linhas do texto */
      font-size: 28px;
      font-family: 'Verdana';
      font-weight: bold; /* grossura da letra */
      font-style: italic;
      text-decoration: underline; /* sublinhado */
      text-decoration: overline; /* linha em cima do texto */
      text-decoration: none; /* retirar o sublinhado que links deixam */
      text-align: center; /* left ; right ; center; justify; */

}